<%- include('partials/modals') -%>

<main class="container">
    <div class="row justify-content-around mt-5 text-center">
        <span>The #1 Social Network for Photo Sharing</span>
        <div class="d-flex justify-content-center">
          <img class="img-fluid mainLogo" src="https://res.cloudinary.com/dvgnmh1gb/image/upload/v1696467212/jht6wbpqmi1q1uofcvgf.jpg">
        </div>
        
      </div>
    <div class="row justify-content-around mt-5">
        <a href="" class="col-3 btn btn-primary loginPage" id="override" data-bs-toggle="modal" data-bs-target="#loginModal"> Login</a>
        <a href="" class="col-3 btn btn-primary loginPage"id="override" data-bs-toggle="modal" data-bs-target="#signUpModal"> Signup</a>
    </div>
</main>
    

<%- include('partials/footer') -%>


<!-- <a href="/signup" class="col-3 btn btn-primary loginPage"> Signup</a> -->