.mainLogo{
    width:50%;
}


.bannerLogo{
    width:15%;
}

.bannerBackground{
    background-color: aqua;
}

.loginPage, .btn{
    background-color: rgb(216, 92, 189);
    border-color:  rgb(216, 92, 189);
}

.btn-primary:hover{
    background-color: rgba(216, 92, 189, 0.603);
    border-color:  rgb(216, 92, 189);
}

header{
    border-bottom: 1px solid rgb(197, 195, 195) 
}

.fa-bars{
    font-size: 2em;
   color: rgba(10, 10, 26, 0.651) ;
   cursor:pointer
}

.fa-bars:hover{
    color: rgb(10, 10, 26) ;
}

.dropdown .dropdown-toggle::after {
    content: none; /* Hide the arrow */
  }

  @media screen and (max-width: 999px) {
    .numberOne{

        display:none;
    }
    .bannerLogo{

    width:50%;

    }
  }

 #prof-img{
    max-width: 10rem;
    border-radius: 50%;
    
 } 

 .post-image{
    max-width: 2rem;
    border-radius: 50%;
 }

 .image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    gap: 1px 1px; /* Adjust the gap as needed */
  }
  
  .image-item {
    list-style: none;
  }

  .logoutBtn{
    padding-left: 33px;
    padding-right: 33px;
  }
@tailwind base;
@tailwind components;
@tailwind utilities;